<ul class="idea-children">
  <% locals[:idea].children.each do |child| %>
    <%= render_idea(child) %>
  <% end %>
  <li class="idea new-idea">
    <%= form_for locals[:idea].children.build do |f| %>
      <%= f.hidden_field :parent_id %>
      <%= hidden_field_tag :top_level_id, @idea.id %>
      <div class="form-group">
        <%= f.text_field :content, placeholder: "add new..." %>
      </div>
    <% end %>
  </li>
</ul>